<h2>{{ category_name }}</h2>

<table class="word-table">
    <thead>
        <tr>
            <th class="col-number">#</th>
            <th class="col-word">Слово, фраза, словосочетание</th>
            <th class="col-transcription">Транскрипция</th>
            <th class="col-translation">Перевод</th>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
        <tr>
            <td class="col-number">{{ word.global_index }}</td> {# Используем глобальный номер #}
            <td class="col-word">{{ word.german_word }}</td>
            <td class="col-transcription">{{ word.transcription }}</td>
            <td class="col-translation">{{ word.translation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>